.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 17px 0;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
}

.main {
  margin: 0 auto;
  max-width: 960px;
}

.holder {
  margin: 0 var(--margin-holder);
}
