.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: var(--fontSize-smaller);
  color: white;
  background-color: var(--color-bg_dark);
}
