.footer {
  background-color: var(--color-bg_dark);
  color: white;
  font-size: var(--fontSize-smaller);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
