@import "./styles/normalize.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

/* vars */

/* colors */
:root {
  --bgcolor-dark: #282d30;

  --tcolor-black: #111111;
  --tcolor-light: #999999;
}
